/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

#main {

}

#header {
    height: 46.5px;
    background-color: #000;
    /* Phần bóng đổ cho header */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#nav {
    /* Để khối bọc quanh navigation chỉ bao quanh nội dung của nó chứ không
    chiếm hết cả thanh header, nhắm chèm thêm btn-search vào góc bên phải */
    display: inline-block;
}

#nav, .subnav {
    /*Bỏ dấu chấm của list item */
    list-style-type: none;
}

/* #nav  li ?  */
#nav  li { 
    /* Dùng để kéo ul#nav về 1 hàng ???? bị chuyển xuống dưới */
    
    /* position: relative; */
}
/* Vì sao lại phải Selector cho thẻ con trực tiếp ??? */
/* Giải thích: Vì khi không dùng > thì các subnav cũng bị ảnh hưởng, làm cho
giao diện bị sai */
#nav > li { 
    /* Dùng để kéo ul#nav về 1 hàng */
    display: inline-block;
    position: relative;
}
/* thêm thuộc tính hover (khi di chuột vào thẻ li cho cả nav và subnav */
/* Khi di chuột vào thẻ li (li:hover) là con của #nav thì CSS vào các thẻ a
là con của thể li đó */
#nav > li:hover > a, 
#nav .subnav li:hover a {
    background-color: #ccc;
    color: #000;
}
/* CSS cho thẻ a có thẻ cha là li, và cha của li là #nav */
#nav  li  a {
    font-size: 15px;
    /* Bỏ gạch chân */
    text-decoration: none;    
    
}

#nav > li > a {
    color: white;
    line-height: 46.5px;
    padding: 0 24px;
    text-transform: uppercase;
    display:inline-block;
}

#nav .subnav {
    /* Ẩn subnav */
    display: none;
    position: absolute;
    background-color: #fff;
    /* Phần bóng đổ cho subnav */
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);;

} 

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li {
    min-width: 160px;
}

#nav .subnav li a {
    color:#000;
    display: block;
    line-height: 38.5px;
    padding: 0 16px;
}

#nav .arrow-down {
    font-size: 10px;
    font-weight: 600;
}

#header .search-btn {
    float: right;
    color: #fff;
    padding: 0 24px;
    line-height: 46.5px;
    font-size: 14px;
}

#header .search-btn:hover {
    background-color: #f44336;

}

#slider {

}

#content {

}

#footer {

}
